.DS_Store
*.csproj
*.pidb
*.sln
*.userprefs
/Temp/
*.unityproj
/Library/
/Build/
ProjectSettings/EditorBuildSettings.asset
build_Data/
UnityPlayer_Symbols.pdb
recordings/
.env
.bundle
/.project
ProjectSettings/ProjectVersion.txt
*.suo
*.cache
obj/
